@charset "UTF-8";

// includes
@import "utils";
@import "flex";

body.home {
	.plugin-class {
		display: inline-block;
		margin-bottom: 10px;
		outline: 1px solid #00ff19;
	}

	&.has-sidebar {
		display: block;
	}
}